services:
  mediamtx:
    image: bluenviron/mediamtx:1.15.6
    container_name: vigil-mediamtx
    ports:
      - "8554:8554"
      - "8889:8889"
    volumes:
      - ./mediamtx/mediamtx.yml:/mediamtx.yml:ro

  ffmpeg:
    image: linuxserver/ffmpeg:8.0.1
    container_name: vigil-ffmpeg
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,video,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    command: >
      -rtsp_transport tcp
      -hwaccel cuda
      -hwaccel_output_format cuda
      -i rtsp://${STREAMER_USERNAME}:${STREAMER_PASSWORD}@${IP_ADDR}/Streaming/Channels/101
      -c:v h264_nvenc
      -preset p1
      -b:v 5M -maxrate 5M -bufsize 10M
      -g 30
      -c:a aac -b:a 128k
      -f rtsp rtsp://vigil-mediamtx:8554/cam1
